# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
*.log

# Virtual environments
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# Streamlit specific
.streamlit/secrets.toml
.streamlit/config.toml
.streamlit/*.yaml

# IDE / Editor
.vscode/
.idea/
*.swp
*~

# OS specific
.DS_Store
Thumbs.db

# Jupyter / IPython
.ipynb_checkpoints/
*.ipynb